body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(219, 254, 132); */
  font: Roboto;
  font-size: x-large;
  background-color: #2b2a2b;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .header {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
} */
.container-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  /* border: 1px solid red; */
  justify-content: center;
}

.landing-container,
.name-container,
.email-container,
.afterparty-container,
.allergy-container,
.results-container {
  width: 100%;
  max-width: 940px;
  height: 600px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;

  /* gap: 50px; */
}
.question-container {
  width: 100%;
  max-width: 940px;
  height: 600px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  gap: 60px;
}
.text-container {
  justify-content: end;
  padding-top: 40px;
}

.next-step {
  width: 100%;
  max-width: 900px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  /* margin-bottom: 20px; */
}

.all-selection {
  width: 100%;
  display: flex;
  justify-content: center;
}
.style-input {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .container-main {
  width: 100%;
  max-width: 700px;
  height: 600px;
  margin: 0 auto;
} */

/* .container-main {
  background-color: rgb(43, 42, 43);
  color: rgb(255, 255, 255);
  margin: 0;
} */

.landing-container {
  background-color: rgb(177, 162, 255);
  color: rgb(0, 0, 0);
  margin: 0;
}
.name-container {
  background-color: rgb(246, 245, 250);
  color: rgb(0, 0, 0);
  margin: 0;
}
.email-container {
  background-color: rgb(54, 50, 64);
  color: rgba(255, 255, 255, 0.95);
  margin: 0;
}
.afterparty-container {
  background-color: rgba(190, 191, 187, 0.95);
  color: rgb(43, 42, 43);
  margin: 0;
}

.allergy-container {
  background-color: rgb(215, 254, 152);
  color: rgb(43, 42, 43);
  margin: 0;
}

.question-container {
  background-color: rgb(177, 162, 255);
  color: rgb(0, 0, 0);
  margin: 0;
}

.results-container {
  background-color: rgb(215, 254, 152);
  color: rgb(43, 42, 43);
  margin: 0;
}

.next-step {
  background-color: rgb(245, 244, 242);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(54, 50, 64);
  gap: 15px;
}

/* @media (min-width: 668px) {
}

@media (min-width: 1024px) {
  .container-main {
    max-width: 430px;
  }
} */
:root {
  --palette-color-1: rgb(0, 0, 0);
  --palette-color-2: rgb(43, 42, 43);
  --palette-color-3: rgba(0, 0, 0, 0);
  --palette-color-4: rgb(255, 255, 255);
  --palette-color-5: rgb(190, 191, 187);
  --palette-color-6: rgb(219, 254, 132);
  --palette-color-7: rgb(30, 37, 33);
  --palette-color-8: rgb(246, 245, 250);
  --palette-color-9: rgb(32, 31, 33);
  --palette-color-10: rgb(20, 20, 20);
  --palette-color-11: rgba(255, 255, 255, 0.95);
  --palette-color-12: rgb(187, 173, 255);
  --palette-color-13: rgb(54, 50, 64);
  --palette-color-14: rgba(190, 191, 187, 0.95);
  --palette-color-15: rgb(177, 162, 255);
  --palette-color-16: rgb(48, 45, 43);
  --palette-color-17: rgb(245, 244, 242);
  --palette-color-18: rgb(215, 254, 152);

  --palette-font-1: Space Grotesk;
  --palette-font-2: system-ui;
  --palette-font-3: Segoe UI;
  --palette-font-4: Roboto;
  --palette-font-5: Oxygen;
  --palette-font-6: Ubuntu;
  --palette-font-7: Cantarell;
  --palette-font-8: Fira Sans;
  --palette-font-9: Droid Sans;
  --palette-font-10: Helvetica Neue;
  --palette-font-11: Times;
}
